footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    justify-content: space-between;
}

.desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    

}

.copyright {
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
    color: black;
}

.left-footer {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: justify;
    color: rgb(0, 0, 0);
}

.footer-logo {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}

.footer-logo h1{
    margin-left: 70px;
}

.left-footer img {
    width: 150px;
    height: 150px;
}

.right-footer {
    width: 45%;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.nyuu {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 15px;
}

.nyuu a:hover{
    color:black;
    background-color: rgb(59, 57, 57)
    
}

.nyuu a{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}